<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VLHI logics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="I.Komarov">
    <style type="text/css">
    .input { 
      width: 90%; 
      left: 2%;
      background: #00ff00;
      padding: 1%;
      text-align:center;
      border: solid 2px black; 
      float: left;
      position:relative;
      margin: 2px;
    }
    .group { 
      text-align:center;
      border: solid 1px black; 
      position:absolute;
    }    
    .sc0{
      top:25%;
      left:75%;
      width:25%;
      position:absolute;
      float:left;
      background: #ffffff;
      opacity:0.8;
      font-family: Verdana, Arial, Helvetica, sans-serif; 
      font-size:50%;
    }
    .sc{
      top:25%;
      left:65%;
      width:35%;
      position:absolute;
      float:left;
      background: #ffffff;
      opacity:0.8;
      font-family: Verdana, Arial, Helvetica, sans-serif; 
      font-size:50%;
    }    
    </style>  

{% block head_before %} {% endblock %}
<script type="text/javascript">
var vars = {
i_Manual: true,
i_BeamAbort: true,
//i_N2: true,
//i_Pressure: true,
i_DCWF: true,
i_SolAbn: true,
i_EnvMon: true,
i_Waterleak: true,
i_EHPower: true,
i_CO2OK: true,
i_HS1: true,
i_HS2: true,
i_HS3: true,
i_HS4: true,
i_T1: true,
i_T2: true,
i_T3: true,
i_T4: true,
i_T5: true,
i_T6: true,
i_T7: true,
i_T8: true,
i_T9: true,
i_T10: true,
i_T11: true,
i_T12: true,
i_WL_SD1: true,
i_WL_SD2: true,
i_WL_SD3: true,
i_WL_SD4: true,
i_WL_SD5: true,
i_WL_WL1: true,
i_WL_WL2: true,
i_WL_WL3: true,
i_WL_WL4: true,
i_WL_WL5: true,
i_PhysReady: true,
i_NormInj: true,
i_isAlive: true,
o_SVD_LV: true,
o_SVD_LV_0: true,
o_SVD_LV_1: true,
o_SVD_LV_2: true,
o_SVD_HV: true,
o_SVD_HV_0: true,
o_SVD_HV_1: true,
o_SVD_HV_2: true,
o_PXD: true,
o_PXD_0: true,
o_PXD_1: true,
o_PXD_2: true,
o_Chiller: true,
o_CO2: true,
o_Waterleak: true,
io_SVD_LV: true,
io_SVD_HV: true,
io_PXD: true,
io_Chiller: true,
io_CO2: true,
};

var SVD_LV_DEP = ["i_Manual",
                  "i_DCWF",
                  "i_SolAbn",
                  "i_EnvMon",
                  "i_Waterleak",
                  "i_EHPower",
                  "i_CO2OK",
                  "i_HS1",
                  "i_HS2",
                  "i_HS3",
                  "i_HS4",
                  "i_T1",
                  "i_T2",
                  "i_T3",
                  "i_T4",
                  "i_T5",
                  "i_T6",
                  "i_T7",
                  "i_T8",
                  "i_T9",
                  "i_T10",
                  "i_T11",
                  "i_T12",
                  "i_WL_SD1",
                  "i_WL_SD2",
                  "i_WL_SD3",
                  "i_WL_SD4",
                  "i_WL_SD5",
                  "i_WL_WL1",
                  "i_WL_WL2",
                  "i_WL_WL3",
                  "i_WL_WL4",
                  "i_WL_WL5"]

var SVD_HV_DEP = ["i_Manual",
                  "i_BeamAbort",
                  "i_DCWF",
                  "i_SolAbn",
                  "i_EnvMon",
                  "i_Waterleak",
                  "i_EHPower",
                  "i_CO2OK",
                  "i_HS1",
                  "i_HS2",
                  "i_HS3",
                  "i_HS4",
                  "i_T1",
                  "i_T2",
                  "i_T3",
                  "i_T4",
                  "i_T5",
                  "i_T6",
                  "i_T7",
                  "i_T8",
                  "i_T9",
                  "i_T10",
                  "i_T11",
                  "i_T12",
                  "i_WL_SD1",
                  "i_WL_SD2",
                  "i_WL_SD3",
                  "i_WL_SD4",
                  "i_WL_SD5",
                  "i_WL_WL1",
                  "i_WL_WL2",
                  "i_WL_WL3",
                  "i_WL_WL4",
                  "i_WL_WL5",
                  "i_isAlive"]

var PXD_DEP = ["i_Manual",
                  "i_BeamAbort",
                  "i_SolAbn",
                  "i_EnvMon",
                  "i_Waterleak",
                  "i_EHPower",
                  "i_CO2OK",
                  "i_HS1",
                  "i_HS2",
                  "i_HS3",
                  "i_HS4",
                  "i_T1",
                  "i_T2",
                  "i_T3",
                  "i_T4",
                  "i_T5",
                  "i_T6",
                  "i_T7",
                  "i_T8",
                  "i_T9",
                  "i_T10",
                  "i_T11",
                  "i_T12",
                  "i_WL_SD1",
                  "i_WL_SD2",
                  "i_WL_SD3",
                  "i_WL_SD4",
                  "i_WL_SD5",
                  "i_WL_WL1",
                  "i_WL_WL2",
                  "i_WL_WL3",
                  "i_WL_WL4",
                  "i_WL_WL5",
                  "i_isAlive"]

var Chiller_DEP =["i_DCWF",
                  "i_Waterleak",
                  "i_WL_SD1",
                  "i_WL_SD2",
                  "i_WL_SD3",
                  "i_WL_SD4",
                  "i_WL_SD5",
                  "i_WL_WL1",
                  "i_WL_WL2",
                  "i_WL_WL3",
                  "i_WL_WL4",
                  "i_WL_WL5"]

var CO2_DEP = ["i_HS1",
              "i_HS2",
              "i_HS3",
              "i_HS4"]

var Waterleak_DEP = ["i_WL_SD1",
              "i_WL_SD2",
              "i_WL_SD3",
              "i_WL_SD4",
              "i_WL_SD5",
              "i_WL_WL1",
              "i_WL_WL2",
              "i_WL_WL3",
              "i_WL_WL4",
              "i_WL_WL5"]              

function all_io_OK(){
  var all_io = (
  vars.io_SVD_LV&&
  vars.io_SVD_HV&&
  vars.io_PXD&&
  vars.io_Chiller&&
  vars.io_CO2);
  return all_io;
}

function update_el_color(id){
  var el = document.getElementById(id);
  if (vars[id]){
    el.style.background='#00FF00';
  }
  else {
    el.style.background='#FF0000';
  }  
}

function update_o_SVD_LV(){
  var HW_check = true;
  for (var v in SVD_LV_DEP){
    HW_check=HW_check&&vars[SVD_LV_DEP[v]];
  }
  //console.log(HW_check);
  if (HW_check==false) {
    vars.io_SVD_LV = false;
  }
  update_el_color("io_SVD_LV");
  vars.o_SVD_LV= (HW_check&&vars.io_SVD_LV)
  update_el_color("o_SVD_LV");
  vars.o_SVD_LV_0=vars.o_SVD_LV;
  vars.o_SVD_LV_1=vars.o_SVD_LV;
  vars.o_SVD_LV_2=vars.o_SVD_LV;
  update_el_color("o_SVD_LV_0");
  update_el_color("o_SVD_LV_1");
  update_el_color("o_SVD_LV_2");
  return;
}
function update_o_SVD_HV(){
  var HW_check = true;
  for (var v in SVD_HV_DEP){
    HW_check=HW_check&&vars[SVD_HV_DEP[v]];
  }
  HW_check=HW_check&&(vars.i_PhysReady||vars.i_NormInj);
  if (HW_check==false) {
    vars.io_SVD_HV = false;
  }
  update_el_color("io_SVD_HV");
  vars.o_SVD_HV= (HW_check&&vars.io_SVD_HV)
  update_el_color("o_SVD_HV");
  vars.o_SVD_HV_0=vars.o_SVD_HV;
  vars.o_SVD_HV_1=vars.o_SVD_HV;
  vars.o_SVD_HV_2=vars.o_SVD_HV;
  update_el_color("o_SVD_HV_0");
  update_el_color("o_SVD_HV_1");
  update_el_color("o_SVD_HV_2");  
  return;
}
function update_o_PXD(){
  var HW_check = true;
  for (var v in PXD_DEP){
    HW_check=HW_check&&vars[PXD_DEP[v]];
  }
  HW_check=HW_check&&(vars.i_PhysReady||vars.i_NormInj);
  if (HW_check==false) {
    vars.io_PXD = false;
  }
  update_el_color("io_PXD");
  vars.o_PXD= (HW_check&&vars.io_PXD)
  update_el_color("o_PXD");
  vars.o_PXD_0=vars.o_PXD;
  vars.o_PXD_1=vars.o_PXD;
  vars.o_PXD_2=vars.o_PXD;
  update_el_color("o_PXD_0");
  update_el_color("o_PXD_1");
  update_el_color("o_PXD_2");  
  return;
}

function update_o_Chiller(){
  var HW_check = true;
  for (var v in Chiller_DEP){
    HW_check=HW_check&&vars[Chiller_DEP[v]];
  }
  if (HW_check==false) {
    vars.io_Chiller = false;
  }
  update_el_color("io_Chiller");
  vars.o_Chiller= (HW_check&&vars.io_Chiller)
  update_el_color("o_Chiller"); 
  return;
}
function update_o_CO2(){
  var HW_check = true;
  for (var v in CO2_DEP){
    HW_check=HW_check&&vars[CO2_DEP[v]];
  }
  if (HW_check==false) {
    vars.io_CO2 = false;
  }
  update_el_color("io_CO2");
  vars.o_CO2= (HW_check&&vars.io_CO2)
  update_el_color("o_CO2");   
  return;
}
function update_o_Waterleak(){
  var HW_check = true;
  for (var v in Waterleak_DEP){
    HW_check=HW_check&&vars[Waterleak_DEP[v]];
  }
  vars.o_Waterleak = HW_check;
  update_el_color("o_Waterleak");
  return;
}


function update_outputs(){
  update_o_SVD_LV();
  update_o_SVD_HV();
  //update_o_PXD();
  update_o_Chiller();
  update_o_CO2();
  update_o_Waterleak();
  return;
}

function update_all_colors(){
  for (var id in vars) {
    //console.log(id);
    var el = document.getElementById(id);
      if (vars[id]){
        el.style.background='#00FF00';
      }
      else {
        el.style.background='#FF0000';
      }  
  } 
  return;
}

function change_input(divObj){
  vars[divObj.id] = !vars[divObj.id];
  update_el_color(divObj.id);
  update_outputs();
  return;
}

function change_input_twice(divObj){
  change_input(divObj);
  setTimeout(function(){change_input(divObj);},1000)
  return;
}

function get_SC1(){
  var sc=vars.i_Manual*1
  +vars.i_BeamAbort   *2
  +vars.i_N2          *2*2
  +vars.i_DCWF        *2*2*2
  +vars.i_CO2OK       *2*2*2*2
  +vars.i_SolAbn      *2*2*2*2*2
  +vars.i_EnvMon      *2*2*2*2*2*2
  +vars.i_Waterleak   *2*2*2*2*2*2*2
  +vars.i_EHPower     *2*2*2*2*2*2*2*2
  +vars.i_HS1         *2*2*2*2*2*2*2*2*2
  +vars.i_HS2         *2*2*2*2*2*2*2*2*2*2
  +vars.i_HS3         *2*2*2*2*2*2*2*2*2*2*2
  +vars.i_HS4         *2*2*2*2*2*2*2*2*2*2*2*2;
  return sc.toString(16)
}
function get_SC2(){
  var sc=vars.i_T1 *1
    +vars.i_T2     *2
    +vars.i_T3     *2*2
    +vars.i_T4     *2*2*2
    +vars.i_T5     *2*2*2*2
    +vars.i_T6     *2*2*2*2*2
    +vars.i_T7     *2*2*2*2*2*2
    +vars.i_T8     *2*2*2*2*2*2*2
    +vars.i_T9     *2*2*2*2*2*2*2*2
    +vars.i_T10    *2*2*2*2*2*2*2*2*2
    +vars.i_T11    *2*2*2*2*2*2*2*2*2*2
    +vars.i_T12    *2*2*2*2*2*2*2*2*2*2*2;

  return sc.toString(16);
}

function get_SC3(){
  var sc = vars.i_WL_SD1*1
    +vars.i_WL_SD2*2
    +vars.i_WL_SD3*2*2
    +vars.i_WL_SD4*2*2*2
    +vars.i_WL_SD5*2*2*2*2
    +vars.i_WL_WL1*2*2*2*2*2
    +vars.i_WL_WL2*2*2*2*2*2*2
    +vars.i_WL_WL3*2*2*2*2*2*2*2
    +vars.i_WL_WL4*2*2*2*2*2*2*2*2
    +vars.i_WL_WL5*2*2*2*2*2*2*2*2*2;
  return sc.toString(16);
}


function show_dependences(divObj){
  var deps = [];
  if ((divObj.id == "o_SVD_LV")||(divObj.id == "o_SVD_LV_0")||(divObj.id == "o_SVD_LV_1")||(divObj.id == "o_SVD_LV_2")){
    deps = SVD_LV_DEP;
  }
  if ((divObj.id == "o_SVD_HV")||(divObj.id == "o_SVD_HV_0")||(divObj.id == "o_SVD_HV_1")||(divObj.id == "o_SVD_HV_2")){
    deps = SVD_HV_DEP;
    deps.push("i_PhysReady");
    deps.push("i_NormInj");
  }
  //if ((divObj.id == "o_PXD")||(divObj.id == "o_PXD_0")||(divObj.id == "o_PXD_1")||(divObj.id == "o_PXD_2")){
  //  deps = PXD_DEP;
  //  deps.push("i_PhysReady");
  //  deps.push("i_NormInj");
  //}   
  if (divObj.id == "o_Chiller"){
    deps = Chiller_DEP;
  }
  if (divObj.id == "o_CO2"){
    deps = CO2_DEP;
  }
  if (divObj.id == "o_Waterleak"){
    deps = Waterleak_DEP;
  }  
  for (var i in deps){
    document.getElementById(deps[i]).style.background="#FF0000";
  }
  divObj.style.background="#FF0000";
  return;
}
var maxDelay = 10000
// Set the date we're counting down to



var Delay = 0;
var Step = 1;
//var maxDelay = document.getElementById('maxDelay').value();

// Set the minimum value for DOCKChiller waterflow
//var minWF = document.getElementById('minWF').value();
 

// Update the count down every 1 second
function run_countdown(){
//document.getElementById("maxDelay").innerHTML
 if (document.getElementById('maxDelay').value == ''){
   maxDelay = 100000
 }
 else{
   maxDelay = document.getElementById('maxDelay').value;
 }  
 setInterval(function(){
    if (Delay < maxDelay) {
      if ((vars["i_isAlive"] == false)){
      change_input(document.getElementById("i_isAlive"));
      }
    }
    Delay += Step;
    // Display the result in the element with id="demo"
    document.getElementById("Timer").innerHTML = Delay + "/" + maxDelay;  
    // If the count down is finished, write some text 
    if (Delay >= maxDelay) {
      document.getElementById("Timer").innerHTML = "Connection lost";
      if ((vars["i_isAlive"] == true)){
      change_input(document.getElementById("i_isAlive"));
      }
    }
  }, Step);
}

function null_timer(){
  Delay = 0;
}

function update_timer(){
  maxDelay = document.getElementById('maxDelay').value;
}

function update_input(){
  var i_val_DCWF = document.getElementById('i_var_DCWF').value;
  var minWF = document.getElementById('minWF').value;
  if (i_val_DCWF >= minWF)
  {
    if ((vars["i_DCWF"] == false)){
      change_input(document.getElementById("i_DCWF"));
    }
  }
  else{
    if ((vars["i_DCWF"] == true)){
      change_input(document.getElementById("i_DCWF"));
    }
  }


}

</script>
{% block head %} {% endblock %}
</head>

<body onload="update_all_colors();run_countdown();">    
<div style="left:0%;width:100%;height:10%;position:absolute;text-align:center;">
  <h1>Internal logic of Vertex Local Hardwired Interlock</h1>
</div>

<div style="top:10%;left:0%;width:80%;height:55%;position:absolute;background:#FFECAF;opacity:0.5;">
</div>  

<div style="top:10%;left:0%;width:80%;height:55%;position:absolute;text-align: center;">

  <div style="top:-2%;left:0%;width:100%;height:10%;position:absolute;text-align: center;">
    <h2>Inputs</h2>
  </div>
  <div style="top:10%;left:0%;width:100%;height:95%;position:absolute;text-align: center;">

    <div style="top:0%;left:1%;width:18%;height:100%;position:absolute;float: left;">
      <div id="i_Manual" class="input" onclick="change_input(this)">
        Manual
        <div class="sc0">
          %MW001
        </div>
      </div>
      <div id="i_BeamAbort" class="input" onclick="change_input_twice(this);">
        Beam Abort
        <div class="sc0">
          %MW002
        </div>        
      </div>  
      <div id="i_CO2OK" class="input" onclick="change_input(this)">
        CO2 OK
        <div class="sc0">
          %MW003
        </div>        
      </div>    
      <div id="i_DCWF" class="input">
        DOCK chiller
        <div class="sc0">
          %MW302
        </div> 
        <input class="textBox" id="i_var_DCWF" type="range" onchange="update_input()">       
      </div>  
    </div>
    <div class="group" style="top:0%;left:21%;width:18%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
        Central Interlock
      </div>
      <div id="i_SolAbn" class="input" onclick="change_input(this)">
        Sol. abn.
        <div class="sc0">
          %MW011
        </div>   
      </div>       
      <div id="i_EnvMon" class="input" onclick="change_input(this)">
        Env. monitor
        <div class="sc0">
          %MW012
        </div>          
      </div>             
      <div id="i_Waterleak" class="input" onclick="change_input(this)">
        Waterleak
        <div class="sc0">
          %MW013
        </div>          
      </div>              
      <div id="i_EHPower" class="input" onclick="change_input(this)">
        E.H. Power
        <div class="sc0">
          %MW014
        </div>          
      </div>   
    </div>  



    <div class="group" style="top:50%;left:21%;width:18%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
        Humidity Sniffers
      </div>
      <div id="i_HS1" class="input" onclick="change_input(this)">
        #1
        <div class="sc">
         %MW021
        </div>          
      </div>       
      <div id="i_HS2" class="input" onclick="change_input(this)">
        #2
        <div class="sc">
          %MW022
        </div>          
      </div>             
      <div id="i_HS3" class="input" onclick="change_input(this)">
        #3
        <div class="sc">
          %MW023
        </div>          
      </div>              
      <div id="i_HS4" class="input" onclick="change_input(this)">
        #4
        <div class="sc">
          %MW024
        </div>          
      </div>   
    </div>  

    <div class="group" style="top:0%;left:41%;width:28%;height:60%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;position:absolute;text-align: center;">
        NTC Temperature
      </div>
      <div style="top:10%;left:0%;width:100%;position:absolute;text-align: center;">
      <table style="width:100%">
        <tr>
          <td>   
            <div id="i_T1" class="input" onclick="change_input(this)">
              #1
            <div class="sc">
              %MW031
            </div>            
            </div>
          </td>
          <td>   
            <div id="i_T7" class="input" onclick="change_input(this)">
            #7
              <div class="sc">
              %MW041
              </div>           
            </div>    
          </td>
        </tr> 
        <tr> 
          <td>   
            <div id="i_T2" class="input" onclick="change_input(this)">
              #2
            <div class="sc">
              %MW032
            </div>            
            </div>
          </td>
          <td>   
            <div id="i_T8" class="input" onclick="change_input(this)">
            #8
              <div class="sc">
              %MW042
              </div>           
            </div>    
          </td>
        </tr>
        <tr> 
          <td>   
            <div id="i_T3" class="input" onclick="change_input(this)">
              #3
            <div class="sc">
              %MW033
            </div>            
            </div>
          </td>
          <td>   
            <div id="i_T9" class="input" onclick="change_input(this)">
            #9
              <div class="sc">
              %MW043
              </div>           
            </div>    
          </td>
        </tr> 
        <tr> 
          <td>   
            <div id="i_T4" class="input" onclick="change_input(this)">
              #4
            <div class="sc">
              %MW034
            </div>            
            </div>
          </td>
          <td>   
            <div id="i_T10" class="input" onclick="change_input(this)">
            #10
              <div class="sc">
              %MW044
              </div>           
            </div>    
          </td>
        </tr> 
        <tr> 
          <td>   
            <div id="i_T5" class="input" onclick="change_input(this)">
              #5
            <div class="sc">
              %MW035
            </div>            
            </div>
          </td>
          <td>   
            <div id="i_T11" class="input" onclick="change_input(this)">
            #11
              <div class="sc">
              %MW045
              </div>           
            </div>    
          </td>
        </tr> 
        <tr> 
          <td>   
            <div id="i_T6" class="input" onclick="change_input(this)">
              #6
            <div class="sc">
              %MW036
            </div>            
            </div>
          </td>
          <td>   
            <div id="i_T12" class="input" onclick="change_input(this)">
            #12
              <div class="sc">
              %MW046
              </div>           
            </div>    
          </td>
        </tr>                               
      </table>           
      </div> 
    </div>      

  <div class="group" style="top:65%;left:40%;width:30%;height:7%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;position:absolute;text-align: center;">
        Minimum waterflow: <input id='minWF' type=number size='20'><button onclick='update_input();'></button>
      </div>
    </div>

  <div class="group" style="top:75%;left:41%;width:28%;height:7%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;position:absolute;text-align: center;">
        Maximum timeout: <input id='maxDelay' type=number size='20'><button onclick='null_timer();run_countdown();'></button>
      </div>
    </div>


    <div class="group" style="top:0%;left:71%;width:28%;height:70%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;position:absolute;text-align: center;">
        <h3>Waterleak</h3>
      </div>
      <div style="top:25%;left:0%;width:48%;height:90%;position:absolute;">      
        <div style="top:-10%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
          <h4>Sensor disconnected</h4>
        </div>        
        <div id="i_WL_SD1" class="input" onclick="change_input(this)">
          #1
          <div class="sc">
            %MW051
          </div>            
        </div>       
        <div id="i_WL_SD2" class="input" onclick="change_input(this)">
          #2
          <div class="sc">
            %MW052
          </div>            
        </div>             
        <div id="i_WL_SD3" class="input" onclick="change_input(this)">
          #3
          <div class="sc">
            %MW053
          </div>            
        </div>              
        <div id="i_WL_SD4" class="input" onclick="change_input(this)">
          #4
          <div class="sc">
            %MW054
          </div>            
        </div>   
        <div id="i_WL_SD5" class="input" onclick="change_input(this)">
          #5
          <div class="sc">
            %MW055
          </div>            
        </div>              
      </div>
      <div style="top:25%;left:49%;width:48%;height:90%;position:absolute;">      
        <div style="top:-10%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
          <h4>Waterleak detected</h4>
        </div>                
        <div id="i_WL_WL1" class="input" onclick="change_input(this)">
          #1
          <div class="sc">
            %MW061
          </div>            
        </div>       
        <div id="i_WL_WL2" class="input" onclick="change_input(this)">
          #2
          <div class="sc">
            %MW062
          </div>            
        </div>             
        <div id="i_WL_WL3" class="input" onclick="change_input(this)">
          #3
          <div class="sc">
            %MW063
          </div>            
        </div>              
        <div id="i_WL_WL4" class="input" onclick="change_input(this)">
          #4
          <div class="sc">
            %MW064
          </div>            
        </div>   
        <div id="i_WL_WL5" class="input" onclick="change_input(this)">
          #5
          <div class="sc">
            %MW065
          </div>            
        </div>                
      </div>         
    </div>     
  </div>
</div>

<div style="top:65%;left:0%;width:80%;height:35%;position:absolute;background:#AFFFFD;opacity:0.5;">
</div>  
<div style="top:65%;left:0%;width:80%;height:35%;position:absolute;text-align: center;">
  <div style="top:0%;left:0%;width:100%;height:20%;position:absolute;text-align: center;">
    <h2>Outputs</h2>
  </div>

  <div style="top:30%;left:0%;width:100%;height:95%;position:absolute;text-align: center;">
    <div class="group" style="top:0%;left:1%;width:18%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
        <h3>SVD LV</h3>
      </div>
      <div id="o_SVD_LV" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #1
        <div class="sc">
            %MW101
        </div> 
      </div>       
      <div id="o_SVD_LV_0" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #2
        <div class="sc">
            %MW102
        </div>         
      </div>             
      <div id="o_SVD_LV_1" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #3
        <div class="sc">
            %MW103
        </div>         
      </div>              
    </div>  

    <div class="group" style="top:0%;left:21%;width:18%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
        <h3>SVD HV</h3>
      </div>
      <div id="o_SVD_HV" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #1
        <div class="sc">
            %MW111
        </div>         
      </div>       
      <div id="o_SVD_HV_0" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #2
        <div class="sc">
            %MW112
        </div>         
      </div>             
      <div id="o_SVD_HV_1" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #3
        <div class="sc">
            %MW113
        </div>         
      </div>              
    </div> 

    <div class="group" style="top:0%;left:41%;width:18%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
        <h3>PXD</h3>
      </div>
      <div id="o_PXD" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #1
        <div class="sc">
            %MW121
        </div>         
      </div>       
      <div id="o_PXD_0" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #2
        <div class="sc">
            %MW122
        </div>         
      </div>             
      <div id="o_PXD_1" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        #3
        <div class="sc">
            %MW123
        </div>         
      </div>              
    </div> 

    <div style="top:0%;left:61%;width:18%;position:absolute;">
      <div id="o_Chiller" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        DOCK Chiller
        <div class="sc0">
            %MW131
        </div>         
      </div>       
      <div id="o_CO2" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        CO2 cooling plant
        <div class="sc0">
            %MW132
        </div>                 
      </div>                        
    </div> 

    <div class="group" style="top:0%;left:81%;width:18%;position:absolute;">
      <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
        <h3>Central Interlock</h3>
      </div>
      <div id="o_SVD_LV_2" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        SVD LV
        <div class="sc0">
            %MW141
        </div>  
      </div>       
      <div id="o_SVD_HV_2" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        SVD HV
        <div class="sc0">
            %MW142
        </div>          
      </div>             
      <div id="o_PXD_2" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        PXD
        <div class="sc0">
            %MW143
        </div>          
      </div>              
      <div id="o_Waterleak" class="input" onmouseover="show_dependences(this)" onmouseout="update_all_colors()">
        Waterleak
        <div class="sc0">
            %MW144
        </div>          
      </div>              
    </div> 

  </div>      
</div>
<div style="top:10%;left:80%;width:20%;height:90%;position:absolute;background:#B6FFAF;opacity:0.5;">
</div>  
<div style="top:10%;left:80%;width:20%;height:90%;position:absolute;text-align: center;">
  <div style="top:0%;left:0%;width:100%;height:20%;position:absolute;text-align: center;">
    <h2>EPICS</h2>
  </div>

  <div class="group" style="top:15%;left:1%;width:98%;position:absolute;">
    <div style="top:0%;left:0%;width:100%;height:100%;position:absolute;background:#FFFFFF;opacity:1.0;">
    </div>      
    <div style="top:0%;left:0%;width:100%;height:100%;position:absolute;background:#FFECAF;opacity:0.5;">
    </div> 
    <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
      <h3>Link</h3>
    </div>    
    <table style="width:100%;table-layout:fixed;">    
      <tr>   
        <td colspan="2">  
          <div id="i_isAlive" class="input">      
            Is alive
            <div class="sc0">
              %MW203
            </div>   
          </div>      
        </td>   
      </tr>
      <tr> 
        <td>    
          <div id="i_Handshake" class="input" style="background:#ffffff;" onclick="null_timer()">      
            Ping
            <div class="sc">
              %MW204
            </div>   
          </div> 
        </td>
        <td>  
          <div id="Timer"  class="input" style="background:#ffffff;width: 100px;"></div>
        </td>
      </tr>
    </table>
  </div>  
    


  <div class="group" style="top:35%;left:1%;width:98%;position:absolute;">
  <div style="top:0%;left:0%;width:100%;height:100%;position:absolute;background:#FFFFFF;opacity:1.0;">
  </div>      
  <div style="top:0%;left:0%;width:100%;height:100%;position:absolute;background:#FFECAF;opacity:0.5;">
  </div>  
    <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
      <h3>Beam control</h3>
    </div>
    <div id="i_PhysReady" class="input" onclick="change_input(this)">
      Physics ready
        <div class="sc0">
            %MW201
        </div> 
    </div>       
    <div id="i_NormInj" class="input" onclick="change_input(this)">
      Not in Normal Injection
        <div class="sc0">
            %MW202
        </div>       
    </div>    
    </div>



  <div class="group" style="top:60%;left:1%;width:98%;position:absolute;">
    <div style="top:0%;left:0%;width:100%;height:10%;position:relative;text-align: center;">
      <h3>Interlocked</h3>
    </div>

    <div id="io_SVD_LV" class="input" onclick="change_input(this)">
      SVD LV
        <div class="sc">
            %MW211
        </div>         
    </div>       
    <div id="io_SVD_HV" class="input" onclick="change_input(this)">
      SVD HV
        <div class="sc">
            %MW212
        </div>          
    </div>             
    <div id="io_PXD" class="input" onclick="change_input(this)">
      PXD
        <div class="sc">
            %MW213
        </div>          
    </div>
    <div id="io_Chiller" class="input" onclick="change_input(this)">
      DOCK Chiller
        <div class="sc">
            %MW214
        </div>          
    </div>                   
    <div id="io_CO2" class="input" onclick="change_input(this)">
      CO2 cooling plant
        <div class="sc">
            %MW215
        </div>          
    </div>                       
  </div>  


</div>
</body>
</html>



